@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    <h1>TOP Artists</h1>
    <p>@ViewBag.TopArtists</p>
</div>
<div>
    <h1>TOP Tracks Coldplay</h1>
    <p>@ViewBag.TopTracks</p>
</div>
